.middleing {
    margin-top: 20px; 
}

.project-tile {
    position: relative;
    height: 300px; 
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 8px; 
    overflow: hidden; 
}


.project-tile .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-tile h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.project-tile .btn {
    padding: 10px 20px;
    font-size: 1.1rem;
}
